.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 100;
  margin: auto;
}
.modal_body {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  text-align: center;
  background-color: transparent;
  border-radius: 10px;
  transform: translateX(-50%) translateY(-50%);
  animation: showModal 0.5s;
}
@keyframes showModal {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(-60%);
  }
  100% {
    opacity: 1;
    transform: translateX(-50%) translateY(-50%);
  }
}
.modal_close {
  position: absolute;
  top: 0;
  right: 0;
  width: 80px;
  height: 30px;
  font-size: 14px;
  background-color: #fff;
  border-radius: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 50px;
  margin-bottom: 0;
  margin-right: 50px;
  color: #222;
}
.modal_img {
  border-radius: 20px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
}
