.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  height: 60px;
  display: flex;
}
.navbar::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(3px);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
  transition: opacity 0.4s ease;
}
.nav_visible {
  animation: showNav 0.5s;
  display: flex;
}
.nav_unvisible {
  transition: 0.5s;
  opacity: 0;
  animation: hideNav 0.5s;
  height: 0;
}
@keyframes showNav {
  0% {
    height: 0px;
    opacity: 0;
  }
  100% {
    height: 60px;
  }
}
@keyframes hideNav {
  0% {
    height: 60px;
    display: felx;
  }
  100% {
    height: 0px;
    display: none;
  }
}
.logo_image {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 20px;
  margin-right: 10px;
}
.logo_ment {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 10px;
  margin-right: 10px;
}
.logo_visible {
  transition: 0.5s;
  animation: showLogo 1s;
}
.logo_unvisible {
  transition: 0.5s;
  animation: hideLogo 0.7s;
  height: 0;
}
@keyframes showLogo {
  0% {
    height: 0;
    opacity: 0;
  }
  100% {
    height: 30px;
    opacity: 1;
  }
}
@keyframes hideLogo {
  0% {
    height: 30px;
  }
  100% {
    height: 0;
    opacity: 0;
    display: none;
  }
}

.nav_right {
  display: flex;
  height: 60px;
  align-items: center;
  margin-left: auto;
  margin-right: 20px;
}
.nav_right_visible {
  transition: 0.5s;
  animation: show_nav_right 0.5s;
}
.nav_right_unvisible {
  transition: 0.5s;
  animation: hide_nav_right 0.5s;
  height: 0;
}

@keyframes show_nav_right {
  0% {
    height: 0;
    opacity: 0;
  }
  100% {
    height: 60px;
    opacity: 1;
  }
}

@keyframes hide_nav_right {
  0% {
    height: 60px;
    opacity: 1;
  }
  100% {
    height: 0px;
    opacity: 0;
  }
}

.dark_mode {
  transition: 0.3s;
  opacity: 0.7;
  cursor: pointer;
}
.dark_mode:hover {
  transition: 0.3s;
  opacity: 1;
}
@keyframes fadeIn_icon {
  0% {
    opacity: 0;
    transform: rotate(0deg);
  }
  100% {
    opacity: 1;
    transform: rotate(360deg);
  }
}
.link {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 20px;
  font-weight: 600;
  color: #000;
  text-decoration: none;
  transition: 0.3s;
  opacity: 0.7;
  font-family: sans-serif;
  font-weight: 500;
}
.link:hover {
  opacity: 1;
}

.icon_div {
  width: 35px;
  height: 20px;
  margin-top: 7.5px;
  margin-bottom: 7.5px;
}
.dark_div {
  height: 35px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  margin: auto;
  vertical-align: middle;
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
}
.dark_div:hover {
  background-color: #e8e8e8;
}
.rotate {
  animation: rotate 0.2s;
}
@keyframes rotate {
  0% {
    transform: scale(0) rotate(-90deg);
    opacity: 0;
  }
  100% {
    transform: scale(1) rotate(0deg);
    opacity: 1;
  }
}
