.main_div {
  width: 100%;
  padding-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.container {
  width: 80%;
  max-width: 1000px;
  align-items: center;
}
.title_div {
  width: 100%;
  justify-content: center;
  text-align: center;
}
.main_title {
  font-size: 45px;
  color: #333;
  font-family: sans-serif;
  width: fit-content;
  margin: auto;
  margin-top: 40px;
  margin-bottom: -5px;
  animation: show_later 1s;
}
[data-theme="dark"] .main_title {
  color: #f8f8f8;
}
@keyframes show_later {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.sub_title {
  font-size: 15px;
  color: #a8a8a8;
  font-family: sans-serif;
  animation: show_later_sub 2s forwards;
}
@keyframes show_later_sub {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.detail_div {
  margin-top: 50px;
  margin-bottom: 20px;
}
.detail_title {
  font-size: 27px;
  font-family: sans-serif;
  font-weight: 600;
  color: #333;
  font-family: sans-serif;
  width: fit-content;
  margin-bottom: 0;
}
[data-theme="dark"] .detail_title {
  color: #f8f8f8;
}
.detail_line {
  height: 1px;
  background-color: #c5c5c5;
  border: none;
  margin-top: 5px;
  margin-bottom: 5px;
}
.detail_content {
  font-size: 16px;
  margin: 10px 0 10px 0;
  font-family: sans-serif;
}
.session_title {
  font-size: 22px;
  font-family: sans-serif;
  font-weight: 600;
  color: #333;
  font-family: sans-serif;
  width: fit-content;
  margin: 0;
  padding: 3px;
  margin-top: 10px;
}
[data-theme="dark"] .session_title {
  color: #f8f8f8;
}
.session_participant {
  display: inline-flex;
  width: 100%;
  overflow-x: auto;
}
.participant_profile_div {
  margin: 5px 5px 5px 10px;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  word-break: keep-all;
  align-items: center;
}
.profile_photo_div {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
}
.profile_name {
  margin-left: 5px;
  font-size: 18px;
  display: flex;
  align-items: center;
  font-family: sans-serif;
}
