.main_div {
  width: 100%;
  padding-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.container {
  width: 80%;
  max-width: 1400px;
  align-items: center;
}
.title_div {
  width: 100%;
  justify-content: center;
  text-align: center;
}
.main_title {
  font-size: 45px;
  color: #333;
  font-family: sans-serif;
  width: fit-content;
  margin: auto;
  margin-top: 40px;
  margin-bottom: -5px;
  animation: show_later 1s;
}
[data-theme="dark"] .main_title {
  color: #f8f8f8;
}
@keyframes show_later {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.sub_title {
  font-size: 15px;
  color: #a8a8a8;
  font-family: sans-serif;
  animation: show_later_sub 2s forwards;
}
@keyframes show_later_sub {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.sessions {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  background-color: #fefefe;
  border-radius: 10px;
  margin-bottom: 0px;
}
[data-theme="dark"] .sessions {
  background-color: #111111;
}
.sessions_div {
  margin-top: 20px;
  margin-bottom: 20px;
}
.intro_text {
  margin: auto;
}
.intro_photo {
  justify-content: flex-end;
  margin: auto;
  text-align: center;
  overflow: hidden;
}
.sessions_photo {
  justify-content: center;
}
.width_55 {
  width: 55%;
}
.width_45 {
  width: 45%;
}
.width_65 {
  width: 65%;
}
.width_35 {
  width: 35%;
}
.sessions_title {
  font-size: 28px;
  margin-top: 0;
  margin-bottom: 10px;
  font-family: sans-serif;
}
[data-theme="dark"] .sessions_title {
  color: #f8f8f8;
}
.session_title_sub {
  margin-left: 10px;
  color: #999999;
  font-size: 15px;
  font-family: sans-serif;
  font-weight: 400;
  text-decoration: none;
  float: right;
}
.session_title_sub:hover {
  text-decoration: underline;
}
.sessions_content {
  font-size: 17px;
  font-family: sans-serif;
  line-height: 27px;
  margin-top: 15px;
}
[data-teme="dark"] .sessions_content {
  color: #f8f8f8;
}
.intro_left {
  animation: slide_left 1s;
}
.intro_right {
  animation: slide_right 1s;
}
@keyframes slide_left {
  0% {
    transform: translateX(30px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide_right {
  0% {
    transform: translateX(-30px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.form_link {
  font-size: 17px;
  color: #a8a8a8;
  text-decoration: underline;
}
.form_link:hover {
  color: #999999;
}
.sessions_history_div {
  width: 49%;
  display: inline-flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 6px 2px;
  border-radius: 10px;
  background-color: #ffffff;
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: sans-serif;
  animation: show_detail_up 1s;
}
.sessions_history_div:nth-child(even) {
  margin-left: 0;
  margin-right: 1%;
}
.sessions_history_div:nth-child(odd) {
  margin-left: 1%;
  margin-right: 0;
}
@keyframes show_detail_up {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
[data-theme="dark"] .sessions_history_div {
  background-color: #222222;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 3px 1px;
}
.session_info {
  display: flex;
  width: 100%;
}
.session_title {
  font-family: sans-serif;
  color: #333;
  margin: 15px;
  font-size: 23px;
}
[data-theme="dark"] .session_title {
  color: #f8f8f8;
}
.session_poster {
  margin: 15px;
  transition: 0.5s;
  margin-top: 0;
  display: inline-block;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 6px 2px;
  cursor: pointer;
}
.session_poster:hover {
  transform: scale(1.01);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px 2px;
}
[data-theme="dark"] .session_poster {
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 3px 1px;
}
.session_info_detail {
  margin-top: 0;
  margin-right: 15px;
  font-size: 15px;
  font-family: sans-serif;
  line-height: 23px;
  margin-bottom: 10px;
}
.session_info_detail_ment {
  margin-top: 0;
  margin-bottom: 3px;
}
.session_info_sub_title {
  font-size: 19px;
  color: #333;
  font-family: sans-serif;
  margin-top: 10px;
  margin-bottom: 0;
}
[data-theme="dark"] .session_info_sub_title {
  color: #f8f8f8;
}
.session_info_member {
  font-size: 13px;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 0;
  margin-right: 0;
}
@media screen and (max-width: 1200px) {
  .container {
    width: 96%;
  }
}
@media screen and (max-width: 968px) {
  .sessions_history_div {
    width: 100%;
  }
  .sessions {
    display: block;
  }
  .width_35 {
    display: none;
  }
  .width_45 {
    display: none;
  }
  .width_55 {
    width: 100%;
    margin-bottom: 40px;
  }
  .width_65 {
    width: 100%;
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 768px) {
  .session_info_detail_ment {
    display: none;
  }
  .sessions {
    margin-top: 30px;
  }
  .sessions_content {
    padding-left: 10px;
    padding-right: 10px;
  }
  .form_link {
    padding-left: 10px;
    padding-right: 10px;
  }
}
