.main_div {
  width: 100%;
  padding-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.container {
  width: 80%;
  max-width: 1400px;
  align-items: center;
}
.title_div {
  width: 100%;
  justify-content: center;
  text-align: center;
}
.main_title {
  font-size: 45px;
  color: #333;
  font-family: sans-serif;
  width: fit-content;
  margin: auto;
  margin-top: 40px;
  margin-bottom: -5px;
  animation: show_later 1s;
}
[data-theme="dark"] .main_title {
  color: #f8f8f8;
}
@keyframes show_later {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.sub_title {
  font-size: 15px;
  color: #a8a8a8;
  font-family: sans-serif;
  animation: show_later_sub 2s forwards;
}
@keyframes show_later_sub {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.sessions {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  /*box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 6px 2px inset;*/
  background-color: #fefefe;
  border-radius: 10px;
  margin-bottom: 0px;
}
[data-theme="dark"] .sessions {
  background-color: #111111;
}
.sessions_div {
  margin-top: 20px;
  margin-bottom: 20px;
}
.intro_text {
  margin: auto;
}
.intro_photo {
  justify-content: flex-end;
  margin: auto;
  text-align: center;
  overflow: hidden;
}
.sessions_photo {
  justify-content: center;
}
.sessions_title {
  font-size: 28px;
  margin-top: 0;
  margin-bottom: 10px;
  font-family: sans-serif;
}
[data-theme="dark"] .sessions_title {
  color: #f8f8f8;
}
.sessions_content {
  font-size: 17px;
  font-family: sans-serif;
  line-height: 27px;
  margin-top: 15px;
}
[data-teme="dark"] .sessions_content {
  color: #f8f8f8;
}
.intro_left {
  animation: slide_left 1s;
}
.intro_right {
  animation: slide_right 1s;
}
@keyframes slide_left {
  0% {
    transform: translateX(30px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide_right {
  0% {
    transform: translateX(-30px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.form_link {
  font-size: 17px;
  color: #a8a8a8;
  text-decoration: underline;
}
.form_link:hover {
  color: #999999;
}
